defmodule AdventOfCode.Year<%= year %>.Day<%= day %> do
  @moduledoc """
  https://adventofcode.com/<%= year %>/day/<%= String.to_integer(day) %>
  """
  use AdventOfCode, year: <%= year %>, day: <%= day %>

  @impl AdventOfCode
  def input, do: input_lines()

  @impl AdventOfCode
  def part1(input) do
    raise "not implemented"
  end

  @impl AdventOfCode
  def part2(input) do
    raise "not implemented"
  end
end
